.opengridjs-grid {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    user-select: none;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.opengridjs-grid .opengridjs-grid-header {
    display: flex;
    font-weight: 500;
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.opengridjs-grid .opengridjs-grid-header-item {
    flex-grow: 1;
    text-align: left;
    text-transform: capitalize;
}

.opengridjs-grid .opengridjs-grid-rows-container {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    flex-grow: 1;
}

.opengridjs-grid .opengridjs-grid-row {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.opengridjs-grid .opengridjs-grid-row:nth-child(even) {
    background-color: #f8f9fa;
}

.opengridjs-grid .opengridjs-grid-row:hover {
    background-color: #e9ecef;
}

.opengridjs-grid .opengridjs-selected-grid-row {
    background-color: #dee2e6 !important;
}

.opengridjs-grid .opengridjs-grid-column-item {
    flex-grow: 1;
    text-align: left
}

.opengridjs-grid .opengridjs-grid-header-item, .opengridjs-grid-column-item{
    min-width: 50px;
}

.opengridjs-grid .opengridjs-grid-rows-container::-webkit-scrollbar {
    width: 10px;
}

.opengridjs-grid .opengridjs-grid-rows-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.opengridjs-grid .opengridjs-grid-rows-container::-webkit-scrollbar-thumb {
    background: #888;
}

.opengridjs-grid .opengridjs-grid-rows-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.opengridjs-grid .opengridjs-contextMenu {
    background-color: #343a40;
    color: white;
    font-weight: bold;
    position: absolute;
    border-radius: 3px;
    min-width: 200px;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.opengridjs-grid .opengridjs-contextMenu .opengridjs-btn {
    width: 100%;
    border-radius: 0;
    background-color: #343a40 !important;
    text-align: left;
    color: white;
    padding: 5px;
    border: 0;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.opengridjs-grid .opengridjs-contextMenu .opengridjs-title {
    padding: 10px;
}

.opengridjs-grid .opengridjs-contextMenu hr {
    margin: 2px;
    background-color: #52525e !important;
}

.opengridjs-grid .opengridjs-contextMenu .opengridjs-btn:hover {
    background-color: #52525e !important;
    color: white !important;
}

.opengridjs-grid .opengridjs-sort-indicator {
    margin-left: 5px;
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative;
    top: 0%;
    transform: translateY(-50%);
}

.opengridjs-grid .opengridjs-sort-desc .opengridjs-sort-indicator {
    border-bottom: 4px solid white;
}

.opengridjs-grid .opengridjs-sort-asc .opengridjs-sort-indicator {
    border-top: 4px solid white;
}

.opengridjs-grid a {
    color: #007bff;
    text-decoration: none;
}
